body, 
html, 
*{
    font-size: 10px;
    box-sizing:border-box;
    margin: 0;
    padding:0;

}

body {
    padding: 10px;
    margin: 20px;
}  

h1 {
    font-size: 3rem;
    font-family: "Playwrite";
}

.btn {
    font-family: "Playwrite";
    
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row; 
    align-content: center;
}

.card {
    height: 50%; 
    width: 25%; 
    border: 5px solid gold;
    border-radius:5px;
    background-color: pink; 
    margin: 15px 1px;
    box-shadow: black; 
    
}

.card-img {
    width: 90%; 
    height: 30%; 
    align-item: center; 
    margin-left: 5%; 
    
}


