body, 
html, 
*{
    font-size: 10px;
    box-sizing:border-box;
    margin: 0;
    padding:0;

}

body {
    padding: 10px;
    margin: 20px;
}  

h1 {
    font-size: 3rem;
    font-family: "Playwrite";
}

.btn {
    font-family: "Playwrite";
    
}

.container{
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: 70%; 
    width: 30%; 
    border: 5px solid gold;
    border-radius:5px;
    align-items: center;
}

.card-img {
    width: 50%; 
    height: 90%; 
    object-fit: cover; 
    align-items: center;
}

.card-header {
    align-items: center;
}

.subject {
    align-items: center;
}

